<!-- post/templates/comment.html -->

{% extends "base.html" %}

{% block page_content %}

    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <!-- User Info For Post -->
                <div class="card">
                    <div class="p-2 px-3">
                        {% if user == post.user %}
                            <a style="text-decoration: none" href="{% url 'user_profile' %}">
                                <span class="font-weight-bold"> {{ post.user }} </span><br>
                            </a>
                        {% else %}
                            <a style="text-decoration: none" href="{% url 'user_profile_everyone' post.user.id %}">
                                <span class="font-weight-bold"> {{ post.user }} </span><br>
                            </a>
                        {% endif %}
                        <small > {{ post.created_on.date }} </small>
                    </div>

                    <!-- Post Body -->
                    <div class="px-3">
                        <p> {{ post.body | linebreaks | safe }} </p>

                        <!-- Create Comment -->
                        <form id="comment-form" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-8" class="comment-input">
                                    {{ comment_form.body }}
                                </div>
                                <div class="col-4" class="comment-input">
                                    <button type="submit" class="form-control">Comment</button>
                                </div>
                            </div>
                        </form>
                        <hr>

                        <!-- Display All Comments -->
                        <p>Comments : {{ counts }} </p>
                        {% for comment in comments %}
                            <div class="card">

                                <!-- User Info For Comment -->
                                <div class="row p-3 px-3">
                                    <div class="col-10">
                                        {% if user == comment.user %}
                                            <a style="text-decoration: none" href="{% url 'user_profile' %}">
                                                <span class="font-weight-bold"> {{ comment.user }} </span><br>
                                            </a>
                                        {% else %}
                                            <a style="text-decoration: none" href="{% url 'user_profile_everyone' comment.user.id %}">
                                                <span class="font-weight-bold"> {{ comment.user }} </span><br>
                                            </a>
                                        {% endif %}
                                        <small > {{ comment.created_on.date }} </small>
                                    </div>

                                    {% if user == comment.user %}
                                        <!-- Update Comment -->
                                        <div class="col-1">
                                            <a style="color: black;" href="{% url 'update_comment' post.pk comment.pk %}">
                                                <i class="fa fa-edit " style="font-size:20px"></i>
                                            </a>
                                        </div>
                                        <!-- Delete Comment -->
                                        <div class="col-1">
                                            <a style="color: black;" href="{% url 'delete_comment' post.pk comment.pk %}"> 
                                                <i class="fa fa-trash " style="font-size:20px"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>

                                <!-- Comment Body -->
                                <div class="px-3">
                                    <p> {{ comment.body | linebreaks | safe }} </p>
                                    <hr>
                                    <div class="d-flex justify-content-between align-items-center">

                                        <!-- Like Of Comment -->
                                        <form action="{% url 'like_comment' post.id comment.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn
                                                {% if user in comment.like_set.all %}
                                                    btn-success
                                                {% else %}
                                                    btn-outline-success
                                                {% endif %}">

                                                {% if user in comment.like_set.all %}Unlike
                                                {% else %}Like
                                                {% endif %}
                                            </button>
                                        </form>

                                        <div>
                                            <!-- Number Of Comment Likes -->
                                            <p> {{ comment.comment_likes_count }} Likes . 
                                            <span>
                                                <!-- Link To Show All Comments For Post Selected -->
                                                <a style="text-decoration: none" href="{% url 'comment_detail' post.id comment.id %}">
                                                    <!-- Numbers of Comments -->
                                                    {% for key, value in comment_replaies_count.items %}
                                                    {% if key == comment.id %}
                                                        <small> {{ value }} Replies</small><br>
                                                    {% endif %}
                                                    {% endfor %}
                                                </a>
                                            </span>
                                            </p>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <br>  
            </div>
        </div>
    </div>

{% endblock page_content %}
