<!-- post/templates/update_post.html -->

{% extends "base.html" %}

{% block page_content %}

    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <!-- User Info For Post -->
                    <div class="d-flex flex-column p-2 px-3">
                        <a style="text-decoration: none" href="{% url 'user_profile' %}">
                            <span class="font-weight-bold"> {{ post.user.first_name }} {{ post.user.last_name }} </span><br>
                        </a>
                        <small >{{ post.created_on.date }}</small>
                    </div>
                    <!-- Update Post -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="p-2">
                            {{ update_form.body }}
                            <br>
                            <button type="submit" class="form-control">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}
