<!-- blog/templates/blog/index.html -->

{% extends "base.html" %}

{% block page_content %}

    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="card">  
                    <div class="p-2 ">
                        <!-- Display Status Title of Question  -->
                        <div class="row px-3 py-2 text-center">
                            
                            {% for question in questions|slice:":1" %}
                                {% if question.status == 'Not Answered'  %}
                                    <h3>All Questions Are <span style="color:red;"> {{ question.status }} </span> </h3>
                                {% elif question.status == 'Answered' %}
                                    <h3>All Questions Are <span style="color:green;"> {{ question.status }} </span> </h3>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>

                <!-- Display All Questions Are Same Status -->
                {% for question in questions %}
                    <div class="card  p-2">

                        <!-- Info For One Question -->
                        <div class="row  px-2">
                            <div class="col-4">
                                <!-- Numbers of Question Votes -->
                                <small> {{ question.question_votes_count }} votes</small><br>

                                <!-- Numbers of Question Answers -->
                                <small> {{ question.answer_set.count }} answers</small><br>

                                <!-- Status of Question -->
                                <small>
                                    <a style="text-decoration:none" href="{% url 'status_question' question.status %}">
                                        {{ question.status }}
                                    </a>
                                </small>
                            </div>

                            <div class="col-8">
                                <!-- Title of Question -->
                                <h5>
                                    <a style="text-decoration:none" href="{% url 'detail_question' question.pk %}">
                                        {{ question.title }}
                                    </a>
                                </h5>

                                <!-- Question User Created -->
                                <!-- Question User Created -->
                                {% if user == question.user %}
                                    <a style="text-decoration: none" href="{% url 'user_profile' %}">
                                        <span class="font-weight-bold"> {{ question.user }} </span>
                                    </a>
                                    <small > {{ question.created_on.date }} </small>
                                {% else %}
                                    <a style="text-decoration: none" href="{% url 'user_profile_everyone' question.user.id %}">
                                        <span class="font-weight-bold"> {{ question.user }} </span>
                                    </a>
                                    <small > {{ question.created_on.date }} </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
                
            </div>
        </div>
    </div>

{% endblock page_content %}
