
{% extends "base.html" %}

{% block page_content %}

    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="card"> 

                    <form method="post" enctype="multipart/form-data" class="bg-white shadow rounded overflow-hidden">
                        {% csrf_token %}

                        <div class="px-4 py-3">
                            {% if messages %}
                                {% for message in messages %}
                                    <h5 style="text-align: center; color: red;"> {{ message }} </h5>
                                {% endfor %}
                            {% endif %}

                            <h2 style="text-align: center;">Update Password </h2>
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="mb-0">Enter old password</h5>
                            <div lass="mb-0" >
                                <p> {{ password_form.old_password }} </p>
                            </div>
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="mb-0">Enter new password</h5>
                            <div lass="mb-0" >
                                <p> {{ password_form.new_password1 }} </p>
                            </div>
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="mb-0">Confirm new password</h5>
                            <div lass="mb-0" >
                                <p> {{ password_form.new_password2 }} </p>
                            </div>
                        </div>
                        <div class="py-4 px-4">
                            <input type="submit" value="Update" class="btn btn-outline-dark btn-sm btn-block">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}

