@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body{
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.card{
    border:none
}

hr{
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px
}

.muted-color{
    color: #a09c9c;
    font-size: 13px
}

.icons i{
    font-size: 25px
}

.rounded-image{
    border-radius: 50%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px
}

.name{
    font-weight: 600
}

.comment-text{
    font-size: 12px
}

.status small{
    margin-right: 10px;
    color: blue
}

.form-control{
    border-radius: 26px
}

.comment-input{
    position: relative
}

.fonts{
    position: absolute;
    right: 13px;
    top:8px;
    color: #a09c9c
}

.form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none
}

.navbar-brand {
    font-weight: bold;
  }
  .navbar-nav .nav-link {
    font-weight: bold;
  }
  .navbar-nav .nav-link i {
    margin-right: 5px;
  }

.like-btn { 
    font-size: 0px; 
    cursor: pointer; 
    color: #af4c4c; 
    transition: color 0.3s ease; 
} 

.like-btn {
    color: #4c00ff;
}