<!-- post/templates/replay.html -->

{% extends "base.html" %}

{% block page_content %}

    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">

                <div class="card">
                    <!-- User Info For Disease -->
                    <div class="row p-2 px-3">
                        <div class="col-11">
                            {% if user == disease.user %}
                                <a style="text-decoration: none" href="{% url 'user_profile' %}">
                                    <span class="font-weight-bold"> {{ disease.user.first_name }} {{ disease.user.last_name }} </span><br>
                                </a>
                            {% else %}
                                <a style="text-decoration: none" href="{% url 'user_profile_everyone' disease.user.id %}">
                                    <span class="font-weight-bold"> {{ disease.user }} </span><br>
                                </a>
                            {% endif %}
                            <small>{{ disease.created_on.date }}</small>

                            <!-- Category of Disease -->
                            <h6> Category Of Disease: 
                                <a style="text-decoration: none" href="{% url 'category_disease' disease.category %}"> {{ disease.category }} </a>
                            </h6>
                        </div>

                        {% if user == disease.user %}
                            <!-- Delate Disease -->
                            <div class="col-1">
                                <a style="color: black;" href="{% url 'delete_disease' disease.pk %}"> 
                                    <i class="fa fa-trash " style="font-size:20px"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>

                    <!-- Disease Body -->
                    <div class="p-2 px-3">
                        <div class="row px-2">
                            <hr>
                            <p> {{ disease.body | linebreaks | safe }} </p>
                            <img src = "/media/{{ disease.photo }}" alt="..." width="50" height="50" class="rounded mb-2 img-thumbnail">
                            <hr>
                        </div>

                        <!-- Dispaly Therapy Selected And All Replies For Therapy -->
                        <div class="p-2 px-3">
                            <h6>Therapy :</h6>
                            <div class="card">
                                <div class="p-2 ">
                                    <div class="row px-2 py-2">
                                        <!-- Therapy User Created -->
                                        <div class="col-10">
                                            {% if user == therapy.user %}
                                                <a style="text-decoration: none" href="{% url 'user_profile' %}">
                                                    <span class="font-weight-bold"> {{ therapy.user.first_name }} {{ therapy.user.last_name }} </span>
                                                </a>
                                            {% else %}
                                                <a style="text-decoration: none" href="{% url 'user_profile_everyone' therapy.user.id %}">
                                                    <span class="font-weight-bold"> {{ therapy.user.first_name }} {{ therapy.user.last_name }} </span>
                                                </a>
                                            {% endif %}
                                            <br>
                                            <small >{{ therapy.created_on.date }}</small>
                                        </div>

                                        {% if user == therapy.user %}
                                            <!-- Delate Therapy -->
                                            <div class="col-2 text-center">
                                                <button style="border: none; outline: none; background-color: #ffffff;">
                                                    <a style="color: black;" href="{% url 'delete_therapy' disease.pk therapy.pk %}"> 
                                                        <i class="fa fa-trash" style="font-size:20px"></i>
                                                    </a>
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>

                                    <!-- Body of Therapy -->
                                    <div class="row px-2 py-2">
                                        <p> {{ therapy.body | linebreaks | safe }} </p>
                                        <!-- Photo of Therapy -->
                                        {% if therapy.photo %}
                                            <img src = "/media/{{ therapy.photo }}" alt="..." width="100" height="100" class="rounded mb-2 img-thumbnail">
                                        {% endif %}
                                    </div>
                                    
                                    <!-- Craete Replay -->
                                    <div class="px-2 py-2">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-8" class="comment-input">
                                                    {{ replay_form.body }}
                                                </div>
                                                <div class="col-4" class="comment-input">
                                                    <button type="submit" class="form-control">Replay</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- Dispaly All Replies -->
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-9 p-2">
                                            <p>Replies : {{ counts }}</p>
                                            {% for replay in replies %}
                                                <div class="card ">
                                                    <div class="row">

                                                        <!-- Therapy User Created -->
                                                        <div class="col-10">
                                                            <div class="d-flex flex-column p-2 px-3">
                                                                {% if user == therapy.user %}
                                                                    <a style="text-decoration: none" href="{% url 'user_profile' %}">
                                                                        <span class="font-weight-bold"> {{ replay.user.first_name }} {{ replay.user.last_name }} </span>
                                                                    </a>
                                                                {% else %}
                                                                    <a style="text-decoration: none" href="{% url 'user_profile_everyone' replay.user.id %}">
                                                                        <span class="font-weight-bold"> {{ replay.user.first_name }} {{ replay.user.last_name }} </span>
                                                                    </a>
                                                                {% endif %}
                                                                <small >{{ replay.created_on.date }}</small>
                                                            </div>
                                                        </div>

                                                        {% if user == replay.user %}
                                                            <!-- Delate Replay -->
                                                            <div class="col-2">
                                                                <div class="d-flex flex-column p-2">
                                                                    <a style="color: black;" href="{% url 'delete_therapy_replay' disease.pk therapy.pk replay.id %}"> 
                                                                        <i class="fa fa-trash " style="font-size:20px"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    <!-- Replay Body -->
                                                    <div class="px-3">
                                                        <p> {{ replay.body | linebreaks | safe }} </p>
                                                    </div>

                                                </div>
                                                <br>
                                            {% endfor %}
                                        </div>
                                        <div class="col-1"></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        </div>
                        <br>
                    </div>
                </div>
                <br>  
            </div>
        </div>
    </div>

{% endblock page_content %}
