{% extends "base_auth.html" %}

{% block page_content %}

	<div class="login-container">

		{% if messages %}
			{% for message in messages %}
				<h4 style="text-align: center; color: red;"> {{ message }} </h4><br>
			{% endfor %}
		{% endif %}

        <form method="POST" novalidate class="login-form">
			{% csrf_token %}
			
			<h1>Welcome Back</h1>
			<p>Please login to your account</p>
			
			<div class="input-group">
				{{ form.username }}
			</div>
			<div class="input-group">
				{{ form.password }}
			</div>

			<button type="submit">Login</button>
			<div class="bottom-text">
				<p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a> </p>
				<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
			</div>
        </form>
    </div>

{% endblock page_content %}
